body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.top-bar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px; /* Adjusted padding */
    margin-bottom: 30px; /* Add space between top bar and user list */
}

.left-items {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.left-items > *:not(:last-child) {
    margin-right: 8px;
}

.right-items {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.left-items > *:not(:first-child) {
    margin-left: 8px;
}

*[id$="-image"] {
    width: 32px; /* Adjusted size */
    height: 32px; /* Adjusted size */
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent; 
    transition: transform 0.2s;
}

.left-items *[id$="-image"]:hover {
    border: 2px solid gray; 
    transform: scale(1.1);
}

.left-items *[id$="-image"].active {
    border: 2px solid white; 
    transform: scale(1.1);
}

*[id$="-image"].rotate {
    transform: rotate(90deg); /* Rotate image when dropdown opens */
    transition: transform 1s ease; /* Smooth rotation transition */
}

*[id$="-image"].inv-rotate {
    transform: rotate(-90deg); /* Rotate image when dropdown opens */
    transition: transform 0.3s ease; /* Smooth rotation transition */
}

.dropdown-content {
    position: absolute;
    background-color: #fff; /* Adjusted background color */
    color: #808080;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10%;
    padding: 1%;
    margin-top: .5%;
    
    transform: scaleY(0); /* Initially hide the dropdown with scaleY */
    transform-origin: top; /* Set transform origin */
    transition: transform 0.1s ease; /* Smooth animation */
}

.right-items .dropdown-content {
    right: max(1%,10px);
}

.left-items .dropdown-content {
    left: max(1%,10px);
}

.dropdown-content.active {
    transform: scaleY(1); /* Scale dropdown to show */
    transition: transform 0.2s ease-in;
}

.dropdown-item {
    padding: 10px;
    text-decoration: none;
   /* Adjusted text color */
}

.divider {
    border-bottom: 1px solid #777; /* Adjusted color */
    margin: 5px 0;
}

.logout-parent {
     text-align: center;
}

.logout-button {
    color: #e74c3c;; /* Text color */
    text-align: center;

    border-style: solid;
    border-color: #fff;

    
    cursor: pointer;
    font-weight: normal; /* Normal font weight by default */
    transition: font-weight .2s; /* Smooth transition for font-weight change */
}

.logout-button:hover {
    font-weight: bold; /* Bold font weight on hover */
}