body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.page-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 300px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.form {
    display: none;
}

h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

[id$="-feedback"] {
    margin-top: 20px;
    color: #f00;
}

/* Style for validation messages */
[id$="-validation-msg"]:empty {
    display: none; /* Hide the validation message if it is empty */
  }
  
/* Style for non-empty validation messages */
[id$="-validation-msg"]:not(:empty) {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }